<h1 class="ui ">New Party</h1>
	
<%= render 'form', party: @party %>

<br>
<br>

<button class="ui right labeled icon button">
  <i class="left arrow icon"></i>
  <%= link_to 'Back', parties_path %>
</button>
	